{% extends 'base.html.twig' %}

{% block title %}Medication{% endblock %}

{% block body %}
    <h1>Medication</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ medication.id }}</td>
            </tr>
            <tr>
                <th>Medicationname</th>
                <td>{{ medication.medicationname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('medication_index') }}">back to list</a>

    <a href="{{ path('medication_edit', {'id': medication.id}) }}">edit</a>

    {{ include('medication/_delete_form.html.twig') }}
{% endblock %}
