{% extends 'base-back.html.twig' %}


{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}


{{ form_start(form) }}
<div class="form-row align-items-end" >
    <div class="col">
        {{ form_row(form.speciality) }}
    </div>
    <div class="col">
        <div class="form-group">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
</div>
{{ form_end(form) }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fullname</th>
                <th>Cin</th>
                <th>Birthdate</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Workadress</th>
                <th>Speciality</th>
                <th>Expyears</th>
                <th>Cabinname</th>
                <th>Certificate</th>
                <th>Username</th>
                <th>Password</th>

            </tr>
        </thead>
        <tbody>
        {% for doctor in doctors %}
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.fullname }}</td>
                <td>{{ doctor.cin }}</td>
                <td>{{ doctor.birthdate }}</td>
                <td>{{ doctor.gender }}</td>
                <td>{{ doctor.email }}</td>
                <td>{{ doctor.tel }}</td>
                <td>{{ doctor.workadress }}</td>
                <td>{{ doctor.speciality }}</td>
                <td>{{ doctor.expyears }}</td>
                <td>{{ doctor.cabinname }}</td>
                <td>{{ doctor.certificate }}</td>
                <td>{{ doctor.username }}</td>
                <td>{{ doctor.password }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
